.online-application {
  max-width: 1100px;
  padding: 0px 10px;
  margin: 0 auto;
}

.online-application fieldset {
  border: none;
}

.online-application__fieldset-grid {
  padding: 0;
  display: -ms-grid;
  display: grid;
  gap: 17px 19px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.online-application input {
  color: #000000;
  background: #f4f6f5;
  border-radius: 2px;
  border: none;
  min-height: 65px;
  font-family: Proba Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.49%;
  text-align: start;
  width: 100%;
  outline-color: #889099;
  padding: 20px 20px 2px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.online-application label[data-label] {
  background: #f4f6f5;
  border-radius: 2px;
  border: none;
  min-height: 65px;
  font-family: Proba Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.49%;
  color: #889099;
  text-align: center;
  outline-color: #889099;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88%;
  padding: 0px 0px 0px 20px;
}

.online-application input[type="radio"],
.online-application [type="checkbox"] {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.online-application input[type="file"] {
  opacity: 0;
  visibility: hidden;
}

.online-application input[type="checkbox"] {
  display: none;
}

.online-application label[data-check] span {
  position: relative;
  padding: 0px 0px 0px 23px;
}

.online-application label[data-check] span::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #fbdd37;
  border-radius: 2px;
}

.online-application label[data-check] > input:checked + span::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.375L3.2069 8L9 1' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.online-application label[data-radio] input {
  display: none;
}

.online-application label[data-radio] span {
  position: relative;
  padding: 0px 0px 0px 27px;
}

.online-application label[data-radio] span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  border: 2px #fbdd37 solid;
}

.online-application label[data-radio] > input:checked + span::before {
  background: #fbdd37;
}

.online-application .manually__item {
  position: relative;
  width: 100%;
}

.online-application__btn-add {
  margin: 22px 0px 80px 0px;
  border: 1px dashed #889099;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: Proba Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.49%;
  text-align: center;
  color: #ff0000;
  width: 100%;
  padding: 15px 0px;
  background: none;
  cursor: pointer;
}

.online-application__btn-add span {
  font-family: SF Compact Display;
  font-style: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #989898;
  background: #f4f6f5;
  border-radius: 50%;
  padding: 5px 10px;
  margin: 0px 0px 0px 10px;
}

.online-application__add-driver-btn {
  font-family: Proba Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.49%;
  text-align: center;
  color: #889099;
  width: 100%;
  border: 1px dashed #889099;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background: none;
  padding: 20px 0px;
  cursor: pointer;
  margin: 0px 0px 79px 0px;
}

.online-application label[data-st="0"] {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  background: none;
}

.online-application label[data-st="0"] input[type="radio"],
.online-application label[data-st="0"] [type="checkbox"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.online-application__manually-btn, .online-application__upload-btn {
  border: 3px solid #f4f6f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #888888;
  background: #f4f6f5;
  border: 3px solid #f4f6f5;
  cursor: pointer;
  margin: 0px 0px 30px 0px;
  padding: 20px 40px;
}

.online-application__manually-btn {
  border-radius: 10px 0px 0px 10px;
}

.online-application__upload-btn {
  border-radius: 0px 10px 10px 0px;
}

.online-application__title {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  margin: 0px 0px 43px 0px;
}

.online-application__subtitle {
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 149.49%;
  text-align: center;
  color: #000000;
  margin: 0px 0px 70px 0px;
}

.online-application__chois {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.online-application__data-owner {
  margin: 0px 0px 90px 0px;
}

.online-application__btn {
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  background: #fbdd37;
  border-radius: 10px;
  border: none;
  width: 100%;
  max-width: 420px;
  padding: 20px 0px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (any-hover: hover) {
  .online-application__btn:hover {
    -webkit-box-shadow: 0px 4px 10px rgba(176, 190, 197, 0.6);
            box-shadow: 0px 4px 10px rgba(176, 190, 197, 0.6);
    background: #eac700;
  }
}

.online-application__approval {
  margin: 20px auto 80px;
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  width: 100%;
  max-width: 420px;
}

.online-application__approval a {
  color: #000000;
  -webkit-text-decoration: underline #fbdd37 solid;
          text-decoration: underline #fbdd37 solid;
}

.online-application__add {
  display: none;
}

.manually__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.manually__choice label {
  margin: 0px 20px 0px 0px;
}

.manually__item-date {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  width: 100%;
  margin: 0px 0px 47px 0px;
}

.manually__add-item {
  margin: 0px 0px 46px 0px;
}

.manually__add-item[open] > .manually__add-title-owner::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.manually__add-title-owner {
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 149.49%;
  text-transform: uppercase;
  color: #889099;
  position: relative;
  list-style-type: none;
  margin: 0px 0px 10px 0px;
  cursor: pointer;
  /* &::after {
            content: "";
            position: absolute;
            display: block;
            width: 6px;
            height: 6px;
            top: 50%;
            right: 0;
            border-right: 1px solid #889099;
            border-bottom: 1px solid #889099;
            transform: rotate(-45deg) translate(0, -50%);
        } */
}

.manually__add-title-owner-different::after {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: 50%;
  right: 0;
  border-right: 1px solid #889099;
  border-bottom: 1px solid #889099;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}

.manually__add-fieldset {
  margin: 0px 0px 18px 0px;
}

.manually__add-driver-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.manually__add-driver-wrap label:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.manually__add-subtitle-driver {
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 149.49%;
  text-transform: uppercase;
  color: #889099;
  margin: 0px 20px 0px 0px;
}

.manually__label-min label[data-label] {
  color: #889099;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 15px;
  top: 7px;
  left: 20px;
  background: none;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  padding: 0px 0px 0px 0px;
}

.online-application label[data-upload] {
  top: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 0px 0px 0px 0px;
}

.online-application label[data-upload] span,
.online-application label[data-upload] p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 0px 20px;
}

.upload__title {
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 149.49%;
  text-align: center;
  color: #000000;
  margin: 0px 0px 70px 0px;
}

.upload__load-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.upload__img-wrap {
  padding: 3px 0px;
  height: 49px;
  background: #f4f6f5;
  text-align: center;
}

.upload__img-wrap img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.upload__svg-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
}

.upload__add {
  display: none;
}

.upload__driver-btn {
  margin: 0px 0px 78px 0px;
}

.tab-btn-ative {
  background: none;
  color: #889099;
}

.decrease {
  -webkit-animation-name: decrease;
          animation-name: decrease;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.increase {
  -webkit-animation-name: increase;
          animation-name: increase;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@-webkit-keyframes decrease {
  from {
    -webkit-transform: translate(0px, 35%);
            transform: translate(0px, 35%);
    font-size: 18px;
  }
  to {
    -webkit-transform: translate 0, 0;
            transform: translate 0, 0;
    font-size: 15px;
  }
}

@keyframes decrease {
  from {
    -webkit-transform: translate(0px, 35%);
            transform: translate(0px, 35%);
    font-size: 18px;
  }
  to {
    -webkit-transform: translate 0, 0;
            transform: translate 0, 0;
    font-size: 15px;
  }
}

@-webkit-keyframes increase {
  from {
    -webkit-transform: translate 0, 0px;
            transform: translate 0, 0px;
    font-size: 15px;
  }
  to {
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    font-size: 18px;
  }
}

@keyframes increase {
  from {
    -webkit-transform: translate 0, 0px;
            transform: translate 0, 0px;
    font-size: 15px;
  }
  to {
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    font-size: 18px;
  }
}

.kasko__question {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kasko__question span {
  margin: 0px 19px 0px 0px;
  font-family: Proba Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.49%;
  color: #889099;
}

.kasko__question label {
  margin: 0px 19px 0px 0px;
}

.kasko__content {
  margin: 0px 0px 67px 0px;
}

.container-kasko {
  max-width: 880px;
  padding: 0px 10px;
  margin: 0 auto;
}

.ipoteka__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ipoteka__question span {
  margin: 0px 19px 0px 0px;
}

.ipoteka__question input {
  margin: 0px 19px 0px 0px;
}

.ipoteka__question {
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 149.49%;
  text-transform: uppercase;
  color: #889099;
}

.ipoteka__content {
  margin: 0px 0px 52px 0px;
}

.online-application__fieldset-grid-4 {
  display: -ms-grid;
  display: grid;
  gap: 17px 19px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.container {
  max-width: 880px;
  padding: 0px 10px;
  margin: 0 auto;
}

@media (min-width: 590px) {
  .online-application__fieldset-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .online-application [data-width="1/2"] {
    grid-column: span 6;
  }
  .online-application [data-width="1/3"] {
    grid-column: span 3;
  }
  .online-application [data-width="2/3"] {
    grid-column: span 4;
  }
  .online-application [data-width="1"] {
    grid-column: span 6;
  }
  .online-application [data-width="2"] {
    grid-column: span 6;
  }
  .online-application [data-width="1/4"] {
    grid-column: span 6;
  }
  .ipoteka__watsapp-last {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    justify-self: flex-start;
  }
  .ipoteka__upload-watsapp-last {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    justify-self: flex-start;
  }
}

@media (min-width: 850px) {
  .online-application__fieldset-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .online-application [data-width="1/2"] {
    grid-column: span 3;
  }
  .online-application [data-width="1/3"] {
    grid-column: span 2;
  }
  .online-application [data-width="2/3"] {
    grid-column: span 4;
  }
  .online-application [data-width="1"] {
    grid-column: span 6;
  }
  .online-application [data-width="1/4"] {
    grid-column: span 1;
  }
  .online-application__fieldset-grid-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .online-application__fieldset-grid-4 [data-width="2"] {
    grid-column: span 2;
  }
  .online-application__fieldset-grid-4 [data-width="1"] {
    grid-column: span 4;
  }
  .ipoteka__watsapp-last {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 4;
    grid-row: 4 / 4;
    justify-self: flex-start;
  }
  .ipoteka__upload-watsapp-last {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
    -ms-grid-row: 5;
    grid-row: 5 / 5;
    justify-self: flex-start;
  }
  .ipoteka__question {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .manually__add-driver-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.data-date ~ span {
  position: absolute;
  width: 40px;
  height: 38px;
  right: 4px;
  top: 50%;
  background-color: #f4f6f5;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3555 1.99708H16.5628V1.16074C16.5628 0.804783 16.2742 0.516205 15.9183 0.516205C15.5623 0.516205 15.2738 0.804783 15.2738 1.16074V1.99708H6.72624V1.16074C6.72624 0.804783 6.43766 0.516205 6.08171 0.516205C5.72576 0.516205 5.43718 0.804783 5.43718 1.16074V1.99708H0.644531C0.288578 1.99708 0 2.28566 0 2.64161V20.8396C0 21.1956 0.288578 21.4841 0.644531 21.4841H21.3555C21.7114 21.4841 22 21.1956 22 20.8396V2.64161C22 2.28566 21.7114 1.99708 21.3555 1.99708ZM1.28906 3.28614H5.43718V4.14363C5.43718 4.49958 5.72576 4.78816 6.08171 4.78816C6.43766 4.78816 6.72624 4.49958 6.72624 4.14363V3.28614H15.2738V4.14363C15.2738 4.49958 15.5624 4.78816 15.9183 4.78816C16.2743 4.78816 16.5629 4.49958 16.5629 4.14363V3.28614H20.7109V6.62825H1.28906V3.28614ZM20.7109 20.1951H1.28906V7.91731H20.7109V20.1951Z' fill='%23889099'/%3E%3Cpath d='M4.17725 13.3549H6.57563C6.93159 13.3549 7.22016 13.0663 7.22016 12.7104V10.312C7.22016 9.95609 6.93159 9.66751 6.57563 9.66751H4.17725C3.82129 9.66751 3.53271 9.95609 3.53271 10.312V12.7104C3.53271 13.0663 3.82129 13.3549 4.17725 13.3549ZM4.82178 10.9566H5.9311V12.0659H4.82178V10.9566Z' fill='%23889099'/%3E%3Cpath d='M9.80078 13.3549H12.1992C12.5551 13.3549 12.8437 13.0663 12.8437 12.7104V10.312C12.8437 9.95609 12.5551 9.66751 12.1992 9.66751H9.80078C9.44483 9.66751 9.15625 9.95609 9.15625 10.312V12.7104C9.15625 13.0663 9.44483 13.3549 9.80078 13.3549ZM10.4453 10.9566H11.5546V12.0659H10.4453V10.9566Z' fill='%23889099'/%3E%3Cpath d='M15.4243 13.3549H17.8227C18.1786 13.3549 18.4672 13.0663 18.4672 12.7104V10.312C18.4672 9.95609 18.1786 9.66751 17.8227 9.66751H15.4243C15.0684 9.66751 14.7798 9.95609 14.7798 10.312V12.7104C14.7798 13.0663 15.0684 13.3549 15.4243 13.3549ZM16.0688 10.9566H17.1781V12.0659H16.0688V10.9566Z' fill='%23889099'/%3E%3Cpath d='M4.17725 18.4448H6.57563C6.93159 18.4448 7.22016 18.1562 7.22016 17.8002V15.4019C7.22016 15.0459 6.93159 14.7574 6.57563 14.7574H4.17725C3.82129 14.7574 3.53271 15.0459 3.53271 15.4019V17.8002C3.53271 18.1562 3.82129 18.4448 4.17725 18.4448ZM4.82178 16.0464H5.9311V17.1557H4.82178V16.0464Z' fill='%23889099'/%3E%3Cpath d='M9.80078 18.4448H12.1992C12.5551 18.4448 12.8437 18.1562 12.8437 17.8002V15.4019C12.8437 15.0459 12.5551 14.7574 12.1992 14.7574H9.80078C9.44483 14.7574 9.15625 15.0459 9.15625 15.4019V17.8002C9.15625 18.1562 9.44483 18.4448 9.80078 18.4448ZM10.4453 16.0464H11.5546V17.1557H10.4453V16.0464Z' fill='%23889099'/%3E%3Cpath d='M15.4243 18.4448H17.8227C18.1786 18.4448 18.4672 18.1562 18.4672 17.8002V15.4019C18.4672 15.0459 18.1786 14.7574 17.8227 14.7574H15.4243C15.0684 14.7574 14.7798 15.0459 14.7798 15.4019V17.8002C14.7798 18.1562 15.0684 18.4448 15.4243 18.4448ZM16.0688 16.0464H17.1781V17.1557H16.0688V16.0464Z' fill='%23889099'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.manually__data > input[type="text"] ~ span {
  position: absolute;
  width: 40px;
  height: 38px;
  right: 4px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #f4f6f5;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3555 1.99708H16.5628V1.16074C16.5628 0.804783 16.2742 0.516205 15.9183 0.516205C15.5623 0.516205 15.2738 0.804783 15.2738 1.16074V1.99708H6.72624V1.16074C6.72624 0.804783 6.43766 0.516205 6.08171 0.516205C5.72576 0.516205 5.43718 0.804783 5.43718 1.16074V1.99708H0.644531C0.288578 1.99708 0 2.28566 0 2.64161V20.8396C0 21.1956 0.288578 21.4841 0.644531 21.4841H21.3555C21.7114 21.4841 22 21.1956 22 20.8396V2.64161C22 2.28566 21.7114 1.99708 21.3555 1.99708ZM1.28906 3.28614H5.43718V4.14363C5.43718 4.49958 5.72576 4.78816 6.08171 4.78816C6.43766 4.78816 6.72624 4.49958 6.72624 4.14363V3.28614H15.2738V4.14363C15.2738 4.49958 15.5624 4.78816 15.9183 4.78816C16.2743 4.78816 16.5629 4.49958 16.5629 4.14363V3.28614H20.7109V6.62825H1.28906V3.28614ZM20.7109 20.1951H1.28906V7.91731H20.7109V20.1951Z' fill='%23889099'/%3E%3Cpath d='M4.17725 13.3549H6.57563C6.93159 13.3549 7.22016 13.0663 7.22016 12.7104V10.312C7.22016 9.95609 6.93159 9.66751 6.57563 9.66751H4.17725C3.82129 9.66751 3.53271 9.95609 3.53271 10.312V12.7104C3.53271 13.0663 3.82129 13.3549 4.17725 13.3549ZM4.82178 10.9566H5.9311V12.0659H4.82178V10.9566Z' fill='%23889099'/%3E%3Cpath d='M9.80078 13.3549H12.1992C12.5551 13.3549 12.8437 13.0663 12.8437 12.7104V10.312C12.8437 9.95609 12.5551 9.66751 12.1992 9.66751H9.80078C9.44483 9.66751 9.15625 9.95609 9.15625 10.312V12.7104C9.15625 13.0663 9.44483 13.3549 9.80078 13.3549ZM10.4453 10.9566H11.5546V12.0659H10.4453V10.9566Z' fill='%23889099'/%3E%3Cpath d='M15.4243 13.3549H17.8227C18.1786 13.3549 18.4672 13.0663 18.4672 12.7104V10.312C18.4672 9.95609 18.1786 9.66751 17.8227 9.66751H15.4243C15.0684 9.66751 14.7798 9.95609 14.7798 10.312V12.7104C14.7798 13.0663 15.0684 13.3549 15.4243 13.3549ZM16.0688 10.9566H17.1781V12.0659H16.0688V10.9566Z' fill='%23889099'/%3E%3Cpath d='M4.17725 18.4448H6.57563C6.93159 18.4448 7.22016 18.1562 7.22016 17.8002V15.4019C7.22016 15.0459 6.93159 14.7574 6.57563 14.7574H4.17725C3.82129 14.7574 3.53271 15.0459 3.53271 15.4019V17.8002C3.53271 18.1562 3.82129 18.4448 4.17725 18.4448ZM4.82178 16.0464H5.9311V17.1557H4.82178V16.0464Z' fill='%23889099'/%3E%3Cpath d='M9.80078 18.4448H12.1992C12.5551 18.4448 12.8437 18.1562 12.8437 17.8002V15.4019C12.8437 15.0459 12.5551 14.7574 12.1992 14.7574H9.80078C9.44483 14.7574 9.15625 15.0459 9.15625 15.4019V17.8002C9.15625 18.1562 9.44483 18.4448 9.80078 18.4448ZM10.4453 16.0464H11.5546V17.1557H10.4453V16.0464Z' fill='%23889099'/%3E%3Cpath d='M15.4243 18.4448H17.8227C18.1786 18.4448 18.4672 18.1562 18.4672 17.8002V15.4019C18.4672 15.0459 18.1786 14.7574 17.8227 14.7574H15.4243C15.0684 14.7574 14.7798 15.0459 14.7798 15.4019V17.8002C14.7798 18.1562 15.0684 18.4448 15.4243 18.4448ZM16.0688 16.0464H17.1781V17.1557H16.0688V16.0464Z' fill='%23889099'/%3E%3C/svg%3E");
}

.online-application .online-application__input {
  position: relative;
}

.online-application .online-application__input::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 60%;
  right: 19px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #f4f6f5;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L7.5 6.5L13.5 1' stroke='%23889099' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.online-application__input-option {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  width: 100%;
  max-height: 195px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  z-index: 100;
}

.online-application__input-option::-webkit-scrollbar {
  width: 14px;
}

.online-application__input-option::-webkit-scrollbar-track {
  background: transparent;
}

.online-application__input-option::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: 65px;
}

.online-application__input-option span {
  font-family: Proba Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.49%;
  color: #889099;
  padding: 19px 20px;
}

@media (any-hover: hover) {
  .online-application__input-option span:hover {
    background: #fbdd37;
    border-radius: 2px;
    color: #000000;
  }
}

.online-application__input-option span:active {
  background: #fbdd37;
  border-radius: 2px;
  color: #000000;
}

.block_show {
  display: block;
}

.block_show_grid {
  display: -ms-grid;
  display: grid;
}

.block_hidden {
  display: none;
}

.thanks {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.thanks__image {
  margin: 80px auto 40px;
  width: 174px;
  height: 174px;
  background-image: url("data:image/svg+xml,%3Csvg width='75' height='65' viewBox='0 0 75 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 38.3077L23.1489 61L73 2' stroke='black' stroke-width='4'/%3E%3C/svg%3E");
  border-radius: 50%;
  background-color: #fbdd37;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.thanks__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
}

.thanks__text {
  font-size: 28px;
}

.thanks button {
  max-width: 419px;
  min-height: 65px;
  width: 100%;
  background: #fbdd37;
  border-radius: 10px;
  border: none;
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
  margin: 0px 0px 130px 0px;
  cursor: pointer;
}
